<!-- reactactive form handle -->
<!-- <div class="container">
    <form (ngSubmit)=func() [formGroup]="formControl">
        <label>name:</label>
        <input 
         type="text" 
         name="name" 
         class="form-control"
         formControlName="formName">  
        <label>email:</label>
        <input  
        type="text" 
        name="email" 
        class="form-control" 
        formControlName="formEmail">
       <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div> -->

<!-- form handle -->
<div class="container">
    <form  (ngSubmit)=submitForm(f) #f=ngForm class="form-control">
        <label>name:</label>
        <input ngModel type="text" name="name" class="form-control" #name=ngModel required>  
        <label>email:</label>
        <input ngModel type="text" name="email" class="form-control" email #name=ngModel>
       <button type="submit" class="btn btn-primary" *ngIf="f.valid">Submit</button>
    </form>
</div>
